body{
    background:url(images/containerbg1.jpeg);
}
.container1{
    background:url(images/containerbg1.jpeg);
    border:2px solid black;
    width:79%;
    height: 100%;
    margin:0 auto;
    text-align: center;
} 
.container1 h3,h2{
    color:whitesmoke
}
.flex-blackjack-row-1, .flex-blackjack-row-2,.flex-blackjack-row-3{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
   
}
.flex-blackjack-row-1{
    background: url(images/blackjack.jpeg); 
  background-size: cover;
  padding: 10px 10px;
  height:54%;
  color: #ffffff;
}
.flex-blackjack-row-2{
    background: url(images/blackjack.jpeg);
}
.flex-blackjack-row-1 div{
    flex:1;
    border: 1.5px solid black;
}
.flex-blackjack-row-2 button{
    margin:25px 20px;
}
.flex-blackjack-row-3{
    padding:10px;
}
table{
    background:url(images/containerbg.jpeg);
 border: 1px solid black;
}
table th{
    color:white;
    padding:10px;
    border:2px solid black;
    text-align: center;
}
table td{
    text-align: center;
    color:white;
    padding:10px;
    border:1px solid black;
}
#your-box img{
    width:30.5%;
    height:25%;
    padding:2%;
}
#dealer-box img{
    width:30.5%;
    height:25%;
    padding:2%;
}
